<MarketplaceDetails>
  <SmallAppTile>Store-300x300.png</SmallAppTile>
  <ScreenShots>Screenshot-1-Phone-WVGA.png;Screenshot-2-Phone-WVGA.png;Screenshot-3-Phone-WVGA.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>Screenshot-1-Phone-WXGA.png;Screenshot-2-Phone-WXGA.png;Screenshot-3-Phone-WXGA.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>Screenshot-1-Phone-720p.png;Screenshot-2-Phone-720p.png;Screenshot-3-Phone-720p.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>